In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

In [2]:
raw_data = pd.read_csv('2.02. Binary predictors.csv')
raw_data.head()

    SAT Admitted  Gender
0  1363       No    Male
1  1792      Yes  Female
2  1954      Yes  Female
3  1653       No    Male
4  1593       No    Male

In [3]:
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes':1,'No':0})
data['Gender'] = data['Gender'].map({'Female':1,'Male':0})
data.head()

    SAT  Admitted  Gender
0  1363         0       0
1  1792         1       1
2  1954         1       1
3  1653         0       0
4  1593         0       0

In [4]:
y=data['Admitted']
x1=data['Gender']

In [6]:
x = sm.add_constant(x1)
reg = sm.Logit(y,x).fit()

Optimization terminated successfully.
         Current function value: 0.572260
         Iterations 5

In [8]:
reg.pred_table()

array([[59., 15.],
       [31., 63.]])

In [9]:
#cm_df = confusion matrix data frame
cm_df = pd.DataFrame(reg.pred_table())
cm_df.columns = ['Predicted 0','Predicted 1']
cm_df.index = ['Actual 0','Actual 1']
cm_df

          Predicted 0  Predicted 1
Actual 0         59.0         15.0
Actual 1         31.0         63.0

In [10]:
cm = np.array(cm_df)
accuracy_train = (cm[0,0]+cm[1,1])/cm.sum()
accuracy_train

0.7261904761904762

In [11]:
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Sat, 07 Aug 2021   Pseudo R-squ.:                  0.1659
Time:                        02:22:54   Log-Likelihood:                -96.140
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 6.283e-10
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.6436      0.222     -2.901      0.004      -1.078      -0.209
Gender         2.0786      0.363      5.727      0.000       1.367       2.790
==============================================================================
"""

### Interpretation of Binary Predictors coef.

In [12]:
f = 1
m = 0
result = (np.exp(2.0786)*(f-m)).round(2)
print('The odds of female to get admitted is {} times greater than the odds of males to get admitted in this dataset'.format(result))

The odds of female to get admitted is 7.99 times greater than the odds of males to get admitted in this dataset